*,
*::before,
*::after {
    margin: 0;
    padding: 0;
}

.hidden {
    display: none;
}

.carousel {
    --hue-sat: 0deg 0%;

    --carousel-numbers-bg-color: hsl(var(--hue-sat) 0% / .5);
    --carousel-buttons-color: hsl(var(--hue-sat) 87% / .75);
    --carousel-buttons-color_hover: hsl(var(--hue-sat) 87%);
    
    box-sizing: border-box;
    position: relative;

    *,
    *::before,
    *::after {
        box-sizing: inherit;
    }
    .items {
        position: relative;
        overflow: hidden;
        height: 20em; // ! TO REMOVE

        ::slotted(div[slot="item"]) {
            position: absolute;
            top: 0;
            left: 0;
        }
    }
    .numbers {
        position: absolute;
        top: 2em;
        right: 1em;
        z-index: 1;
        padding: .75em .5em .75em 1em;
        border-radius: 40%;
        font-size: .8125em;
        letter-spacing: .4em;
        background-color: var(--carousel-numbers-bg-color);
    }
    button {
        background: transparent;
        border: none;
        position: absolute;
        top: 0;
        width: 10%;
        height: 100%;
        z-index: 1;
        cursor: pointer;

        &::before {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            z-index: -1;
            opacity: 0;
            transition: opacity .2s;
        }
        &.prev {
            left: 0;

            &::before {
                background: linear-gradient(to right, var(--carousel-numbers-bg-color), transparent);
            }
        }
        &.next {
            right: 0;

            &::before {
                background: linear-gradient(to left, var(--carousel-numbers-bg-color), transparent);
            }
        }
        svg {
            width: 2em;
            fill: var(--carousel-buttons-color);
            transition: scale .2s;
        }
        &:hover,
        &:focus {
            svg {
                fill: var(--carousel-buttons-color_hover);
                scale: 1.25;
            }
        }
        &:hover {
            &::before {
                opacity: 1;
            }
        }
    }
}