// ** TYPOGRAPHY ** //
$font-size-default : 1.6rem;
$font-size-banner  : 7rem;

// ** COLORS ** //
$grey-primary     : #ddd;
$white-primary    : #fff;
$white-secondary  : #f7f7f7;
$green-primary    : #39be89;
$green-secondary  : #39be5a;
$icon-email-white : $white-primary;
$icon-in-blue     : #0a66c2;
$black-primary    : #000;

// ** DIMENSTIONS ** //
$chip-height: 4rem;
$icon-height: 8rem;
$logo-height: 5rem;

// ** ANIMATIONS ** //
$move-in: .8s ease-out .2s backwards;