*,
*::before,
*::after {
    margin: 0;
    padding: 0;
}

.totopbutton {
    --button-size         : [[button_size]];
    --button-color        : [[button_color]];
    --button-hover-color  : [[button_hover_color]];
    --chevron-color       : [[chevron_color]];
    --chevron-hover-color : [[chevron_hover_color]];
    --z-index             : [[z_index]];
    
    
    box-sizing: border-box;
    position: fixed;
    inset: btn-placement; // This gets replaced by button_placement
    display: flex;
    justify-content: center;
    align-items: center;
    width: 1em;
    height: 1em;
    box-shadow: 0 .06em .1em -.02em hsla(0, 0%, 0%, 0.22),
                0 .12em .2em 0 hsla(0, 0%, 0%, 0.34),
                0 .02em .36em 0 hsla(0, 0%, 0%, 0.32);
    background-color: var(--button-color);
    border-radius: 50%;
    font-size: var(--button-size);
    opacity: 0;
    transform: scale(0);
    visibility: hidden;
    pointer-events: none;
    cursor: pointer;
    border: none;
    z-index: var(--z-index);
    transition: .25s ease-out;
    
    &:hover {
        background-color: var(--button-hover-color);
        
        svg {
            fill: var(--chevron-hover-color);
            transition: .25s ease-out;
        }
    }
    &:focus {
        outline-offset: .1em;
        outline: -webkit-focus-ring-color auto 1px;
    }
    &.sticky {
        opacity: 1;
        transform: scale(1);
        visibility: visible;
        pointer-events: unset;
    }
    *,
    *::before,
    *::after {
        box-sizing: inherit;
    }
    svg {
        width: .26em;
        fill: var(--chevron-color);
    }
}
