section.outcomes {
    position: relative;
    padding: 10%;

    &::before,
    &::after {
        content: '';
        position: absolute;
        left: 50%;
        width: 66.667%;
        height: .1rem;
        translate: -50%;
        background-color: hsl(0 0% 100% / .5);
    }
    &::before {
        top: 0;
    }
    &::after {
        bottom: 0;
    }
    h2 {
        text-align: center;
        font-size: 3rem;
        margin-bottom: 1em;
    }
}