label[data-input-container] {
    // White: hsl(0, 0%, 100%)
    --hue-white : 0, 0%;
    --grey-1    : hsl(var(--hue-white), 50%);
    // Light Blue : hsl(207, 90%, 77%)
    --hue-blue   : 207;
    --blue-1    : hsl(var(--hue-blue), 90%, 53%);
    

    position: relative;
    overflow: hidden;
    display: flex;

    input {
        position: absolute;
        width: 0;
        height: 0;
        opacity: 0;
        z-index: -1;

        &:disabled + div {
            color: var(--grey-1);
            cursor: default;
            pointer-events: none;
        }
    }
    div {
        height: 4rem;
        border: .2rem solid currentColor;
        cursor: pointer;
        line-height: 3.6rem;
        text-align: center;
        padding: 0 1rem;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        transition: .2s;

        &.focused,
        &:hover {
            color: var(--blue-1);
        }
        &[rui-preview] {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 4rem;
            border-left: none;
            font-size: 2rem;
            text-overflow: unset;
        }
    }
}