section.contact {
    padding: 15rem 10% 2.5%;
    background-color: hsl(var(--hue-sat) 13%);

    .bg-img {
        display: flex;
        justify-content: center;
        height: 20rem;
        margin-bottom: 8rem;
        
        img {
            width: 20rem;
            height: 100%;
            border-radius: 50%;
            border: .4rem solid hsl(var(--primary-hue-sat) 30%);
            transform-origin: center;
            transition: .2s;
    
            &:hover {
                opacity: .75;
                scale: .95;
            }
        }
    
        @media (width >= 600px) {
            height: 25rem;
            margin-bottom: 3.5rem;
    
            img {
                width: 25rem;
            }
        }
    }
    h2 {
        text-align: center;
        font-size: 3rem;
        margin-bottom: 8rem;
    }
    .contact-form {
        max-width: 60rem;
        margin-bottom: 8rem;
    }
    /* Wrapper for Company Detail */
    .company-details {
        span {
            display: block;
            font-size: 2rem;
            line-height: 1.5;

            a {
                text-decoration: none;
                transition: opacity .2s;

                &:hover,
                &:focus {
                    opacity: .8;
                }
            }
        }
    }
}