section.contact {
    padding: 10%;
    padding-bottom: 0;
    background-color: hsl(var(--hue-sat) 13%);

    h2 {
        text-align: center;
        font-size: 3rem;
        margin-bottom: 1em;
    }
    .container {
        padding-bottom: 4em;
        display: flex;

        .contact-form {
            width: 50%;
        }
        /* Wrapper for Company Detail */
        .company-details {
            width: 50%;
            padding-left: 2rem;

            span {
                display: block;
                font-size: 2rem;
                line-height: 1.5;

                a {
                    text-decoration: none;
                    transition: opacity .2s;

                    &:hover,
                    &:focus {
                        opacity: .8;
                    }
                }
            }
        }
    }

    @media only screen and (width <= 599px) {
        .container {
            flex-direction: column;
            gap: 4rem;

            .contact-form {
                width: 100%;

                form {
                    border: none;
                    padding: 0;
                }
            }
            .company-details {
                width: 100%;
                padding: 0;
            }
        }
    }
}