footer {
    padding: 7.5% 10%; /* top  | bottom */
    background-color: hsl(var(--hue-sat) 13%);

    .socials {
        margin-bottom: 1em;
        text-align: center;
        font-size: 3rem;

        i {
            margin: 0 1em;
            cursor: pointer;
            transform-origin: bottom left;
            transition: .2s;

            &:hover,
            &:focus {
                transform: scale(1.5);
            }
            &.blue:hover,
            &.blue:focus {
                color: hsl(207deg 90% 53%);
            }
            &.pink:hover,
            &.pink:focus {
                color: hsl(340, 82%, 52%);
            }
            &.red:hover,
            &.red:focus {
                color: hsl(348, 100%, 55%);
            }
        }
    }
    small {
        display: block;
        text-align: center;
    }
}