section.gallery {
    padding: 10%;
    padding-top: 15%;

    h2 {
        text-align: center;
        font-size: 3rem;
        margin-bottom: 1.75em;
    }
    .images {
        display: flex;
        gap: 4rem;
        flex-wrap: wrap;
        justify-content: center;
    }
}