section.gallery {
    padding: 10%;
    padding-top: 40%;

    h2 {
        position: relative;
        text-align: center;
        font-size: 2.4rem;
        margin-bottom: 1.75em;

        /* Adds a three dot patten above the h2 tag */
        div {
            --color: hsl(var(--primary-hue-sat) 50% / .75);

            position: absolute;
            top: -1.75em;
            left: 50%;
            width: 2rem;
            height: 2rem;
            border-radius: 50%;
            translate: -50%;
            background-color: var(--color);

            &::before,
            &::after {
                content: '';
                position: absolute;
                left: 250%;
                width: 2rem;
                height: 2rem;
                border-radius: 50%;
                background-color: var(--color);
            }
            &::after {
                left: -250%;
            }
        }
    }
    .images {
        display: flex;
        gap: 2.4rem;
        flex-wrap: wrap;
        justify-content: center;

        .image {
            width: 32rem;
            overflow: hidden;
            transform-origin: bottom left;
            border: .2rem solid transparent;
            transition: .2s;

            &:hover {
                scale: 1.05;
                border-radius: .6rem;
                border-color: hsl(var(--primary-hue-sat) 60%);

                .img {
                    opacity: .5;
                }
            }
            .img {
                height: 21.3rem;
                transition: opacity .2s;

                img {
                    width: 100%;
                    height: 100%;
                }
            }
            span {
                display: block;
                padding: 1em 1.5em;
                background-color: hsl(var(--hue-sat) 13%);
                color: hsl(var(--hue-sat) 65%);
                font-size: 1.4rem;
                font-weight: 500;
                /* Adds ellipsis for text that is too long */
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
            }

            /* For the larger images */
            &.lg {
                width: 42rem;
                margin: .3rem;

                .img {
                    height: 28rem;
                }
            }
        }
    }

    @media (width >= 395px) {
        padding-top: 35%;
    }
    @media (width >= 600px) {
        padding-top: 20%;

        h2 {
            font-size: 3rem;
        }
    }
    @media (width >= 1000px) {
        padding-top: 15%;
    }
}