section.hero {
    position: relative;
    width: 100%;
    min-height: 100vh;
    min-height: 100svh;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    overflow: hidden;

    /* Fullscreen background video */
    .hero-video {
        position: absolute;
        inset: 0;
        z-index: -1;
        pointer-events: none;

        video {
            position: absolute;
            top: 0;
            left: 0;
            object-fit: fill;
            width: 100%;
            height: 100%;
        }
    }
    .cta {
        --size: 4.8rem; /* Allows CTA Elements to scale uniformly */

        width: 100%;
        padding: calc(var(--size) / 2.4);
        background-color: var(--nav-bgcolor--secondary);
        backdrop-filter: blur(2rem);

        h1 {
            font-size: var(--size);
            font-weight: 900;
            line-height: 1.5;
            text-align: center;

            span {
                color: transparent;
                background-image: linear-gradient(to right, var(--primary-color), var(--site-color));
                background-clip: text;
            }
        }
        .wrapper {
            margin-top: calc(var(--size) / 4);
            display: flex;
            justify-content: center;
        }
    }

    @media (width >= 900px) and (height <= 450px) {
        .cta {
            --size: 3.6rem;
        }
    }
    @media (width >= 675px) or (height >= 675px) {
        align-items: center;
    }
    @media (width >= 675px) {
        .cta {
            width: unset;
            padding: calc(var(--size) / 1.6) calc(var(--size) / 1.2);
            border-radius: 1.6rem;
        }
    }
    @media (height >= 480px) {
        .hero-video video {
            object-fit: cover;
        }
    }
}