section.hero {
    position: relative;
    width: 100%;
    min-height: 100vh;
    min-height: 100svh;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;

    .hero-video {
        position: absolute;
        inset: 0;
        z-index: -1;
        pointer-events: none;

        video {
            position: absolute;
            top: 0;
            left: 0;
            object-fit: fill;
            width: 100%;
            height: 100%;
        }
    }
    .cta {
        width: 100%;
        padding: 2rem;
        background-color: var(--nav-bgcolor--secondary);
        backdrop-filter: blur(2rem);

        h1 {
            font-size: 4.8rem;
            font-weight: 900;
            line-height: 1.5;
            text-align: center;

            span {
                color: transparent;
                background-image: linear-gradient(to right, var(--primary-color), var(--site-color));
                background-clip: text;
            }
        }
        .wrapper {
            margin-top: 1.2rem;
            display: flex;
            justify-content: center;
        }
    }

    @media only screen and (width >= 675px) {
        .cta {
            width: unset;
            padding: 3rem 4rem;
            border-radius: 1.6rem;
        }
    }
    @media only screen and (height >= 480px) {
        .hero-video video {
            object-fit: cover;
        }
    }
}