*,
*::before,
*::after {
    margin: 0;
    padding: 0;
}

label.switch {
    --switch-size : [[switch_size]];
    // Light Blue : hsl(207, 90%, 77%)
    --switch-color   : [[switch_color]];
    --hover          : [[hover]];
    // White: hsl(0, 0%, 100%)
    --hue-white         : 0, 0%;
    --white             : hsl(var(--hue-white), 100%);
    --white-transparent : hsla(var(--hue-white), 100%, .1);
    --grey-1            : hsl(var(--hue-white), 50%);
    --grey-2            : hsl(var(--hue-white), 30%);


    color-scheme: dark;
    position: relative;
    display: inline-flex;
    align-items: center;
    cursor: pointer;
    font-size: var(--switch-size);
    box-sizing: border-box;

    *,
    *::before,
    *::after {
        box-sizing: inherit;
    }
    .wrapper {
        position: relative;
        display: inline-flex;
        width: 1em;
        height: .655em;
        overflow: hidden;
        padding: .207em;
        z-index: 0;

        .base {
            position: absolute;
            left: 0;
            top: 0;
            display: inline-flex;
            align-items: center;
            justify-content: center;
            user-select: none;
            background-color: transparent;
            -webkit-tap-highlight-color: transparent;
            padding: .155em;
            border-radius: 50%;
            z-index: 1;
            transition: .15s cubic-bezier(0.4, 0, 0.2, 1) 0ms;

            input {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                cursor: inherit;
                opacity: 0;
                z-index: 1;
            }
            .thumb {
                width: .345em;
                height: .345em;
                border-radius: 50%;
                background-color: currentColor;
                box-shadow: 0 .0345em .0172em -.0172em rgba(0, 0, 0, .2),
                            0 .0172em .0172em 0 rgba(0, 0, 0, .14),
                            0 .0172em .0517em 0 rgba(0, 0, 0, .12);
            }
            &:hover,
            &.focus {
                background-color: var(--white-transparent);
            }
            &.checked {
                color: var(--switch-color);
                transform: translateX(.345em);

                &:hover,
                &.focus {
                    background-color: var(--hover);
                }
                & + .track {
                    background-color: var(--switch-color);
                    opacity: .5;
                }
            }
        }
        .track {
            width: 100%;
            height: 100%;
            border-radius: .121em;
            transition: .15s cubic-bezier(0.4, 0, 0.2, 1) 0ms;
            background-color: var(--white);
            opacity: .3;
            z-index: -1;
        }
    }
    .label {
        font-size: .276em;
    }
    &.disabled {
        cursor: default;
        pointer-events: none;
        color: var(--grey-1);

        .wrapper .base.checked {
            color: var(--grey-1);

            & + .track {
                background-color: var(--white);
                opacity: .3;
            }
        }
    }
}