*,
*::before,
*::after {
    margin: 0;
    padding: 0;
}

.modal {
    --hs-1: 0, 0%;
    --white-1: hsl(var(--hs-1), 33%);
    --white-2: hsla(var(--hs-1), 10%, .75);
    --white-3: hsl(var(--hs-1), 10%);
    --white-4: hsl(var(--hs-1), 5%);
    --white-5: hsl(var(--hs-1), 53%);
    --modal-outline-color: [[modal_outline_color]];


    display: none;
    z-index: 1;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: var(--white-2);
    padding: 8em 4em;
    backdrop-filter: blur(.2rem);
    box-sizing: border-box;

    &.open {
        display: block;
    }
    *,
    *::before,
    *::after {
        box-sizing: border-box;
    }
    .content {
        background-color: var(--white-3);
        border-radius: 1.5rem;
        border: .2rem solid var(--modal-outline-color);

        .header {
            position: relative;
            height: 4rem;
            border-bottom: .2rem solid var(--white-1);

            h3 {
                font-size: 2rem;
                line-height: 4rem;
                padding: 0 1.5rem;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
            }
            .close {
                position: absolute;
                top: -1.5rem;
                right: -1.5rem;
                width: 3rem;
                height: 3rem;
                border-radius: 50%;
                background-color: var(--white-3);
                border: .2rem solid;
                border-color: var(--modal-outline-color) var(--modal-outline-color) var(--modal-outline-color) transparent;
                transform: rotate(-45deg);
                cursor: pointer;
                color: inherit;
                font-weight: 300;
                font-size: 3rem;
                line-height: 0;
                transition: .2s;

                & span {
                    display: block;
                    transform: rotate(45deg);
                }
                &:hover,
                &:focus {
                    color: var(--modal-outline-color);
                }
            }
        }
        .body {
            padding-top: 1.2rem;
            padding-bottom: 1.5rem;

            .body-content {
                display: block;
                max-height: calc(100vh - (2 * 8em) - 4rem);
                padding: 0 1.5rem;
                overflow: auto;
            }
        }
    }

    @media only screen and (min-width: 600px) and (min-height: 600px) {
        padding: 4em 8em;

        .content .body .body-content {
            max-height: calc(100vh - (2 * 4em) - 4rem);
        }
    }

    ::-webkit-scrollbar {
        width: 15px;
        height: 15px;
    
        &-track, &-corner {
            background: var(--white-4);
        }
        &-thumb {
            background: var(--white-5);
            border-radius: 9px;
            border: 3px solid var(--white-4);
    
            &:hover {
                background: var(--white-5); 
            }
        }
    }
}
