/* ".button" is for styling links to look like buttons */
button,
.button {
    background: none;
    text-decoration: none;
    border-radius: .25em;
    cursor: pointer;
    transition: background-color .2s, border-color .2s, color .2s;
    color: inherit;
    font-weight: 700;
    font-size: 1.6rem;
    padding: .5em 1em;

    &.fill {
        background-color: hsl(var(--hue-sat) 23%);
        border: .1em solid hsl(var(--hue-sat) 23%);

        &:hover,
        &:focus {
            background-color: hsl(var(--bg-hue-sat) 23%);
            border-color: hsl(var(--bg-hue-sat) 23%);
        }
    }
    &.outline {
        color: var(--primary-color);
        border: .125em solid var(--primary-color);

        &:hover,
        &:focus {
            color: hsl(var(--bg-hue-sat) 23%);
            background-color: var(--primary-color);
        }
    }
}