.dev-chips {
    width: 100%;
    @extend %flex_space-around;

    & .dev-chip {
        height: var(--chip-height);
        display: flex;
        align-items: center;
        border-radius: calc(var(--chip-height) / 2);
        padding: calc(var(--chip-height) / 20)
                 calc(var(--chip-height) / 2) 
                 calc(var(--chip-height) / 20) 
                 calc(var(--chip-height) / 20);
        margin: calc(var(--chip-height) / 4);
        background-color: #151515;

        & .icon {
            height: calc(var(--chip-height) * .9);
            width: calc(var(--chip-height) * .9);
            @extend %flex_center;
            background-color: var(--grey-primary);
            font-size: calc(var(--chip-height) * .6);
            border-radius: 50%;
            margin-right: calc(var(--chip-height) / 4);
            overflow: hidden;

            & .fa-html5 {
                color: #fd7e14;
            }
            & .fa-css3-alt {
                color: #2196f3;
            }
            & .fa-sass {
                color: #b12654;
            }
            & .fa-js-square {
                color: #ffab00;
            }
            & .fa-php {
                color: #673ab7;
            }
            & .fa-python {
                color: #0d47a1;
            }
            & .fa-database {
                color: var(--pink-primary);
            }
            & .fa-react {
                color: #4c6ef5;
            }
            & img {
                width: calc(var(--chip-height) * .75);
                height: calc(var(--chip-height) * .75);
            }
        }
        & .text {
            font-size: calc(var(--chip-height) * .4);
            color: var(--grey-primary);
        }
    }
}