.banner {
    position: relative;
    width: 100%;
    min-height: 100vh;
    @extend %flex_center;

    & .banner-img {
        @extend %cover-parent;
        background-image: url(../../images/background-sm.jpg);
        @extend %fullscreen-bg-image;
        clip-path: polygon(0% 0%, 0% 100%, 100% 90%, 100% 0%);
    }

    & h2 {
        position: absolute;
        color: var(--white-primary);
        text-align: center;
        padding: 0 5rem;

        & .move-in-left {
            /* animation: name duration timing-function delay iteration-count direction fill-mode; */
            animation: MoveInLeft var(--move-in);
            font-size: 5rem;
            letter-spacing: .5rem;
            word-spacing: 1rem;
        }
        & .move-in-right {
            animation: MoveInRight var(--move-in);
            font-size: 4rem;
            letter-spacing: .4rem;
            word-spacing: .8rem;
        }
        & div span {
            color: transparent;
            background-image: linear-gradient(to right, var(--green-secondary), var(--green-primary));
            background-clip: text;
            -webkit-background-clip: text;
        }
    }

    /* Apply styles if screen width is 601px or more */
    @media only screen and (min-width: 601px) {
        & .banner-img {
            background-image: url(../../images/background-lg.jpg);
        }
    }

    /* Apply styles if screen width is 993px or more */
    @media only screen and (min-width: 993px) {
        & .banner-img {
            background-position: unset;
            filter: unset;
        }
        & h2 {
            padding: 0 2rem;

            & .move-in-left {
                font-size: 7rem;
                letter-spacing: .7rem;
                word-spacing: 1.4rem;
            }
            & .move-in-right {
                font-size: 5.6rem;
                letter-spacing: .56rem;
                word-spacing: 1.12rem;
            }
        }
    }
}