.contact {
    position: relative;
    width: 100%;
    min-height: 30vh;
    padding: 5rem;
    background-color: #121212;

    & h3 {
        text-align: center;
        font-size: 3.6rem;
        font-weight: 200;
        color: var(--grey-primary);
        letter-spacing: .2rem;
        word-spacing: .4rem;
        padding: 1rem;
        margin-bottom: 2rem;
        text-transform: capitalize;
    }
    & .icons {
        position: relative;
        width: 100%;
        @extend %flex_space-around;

        & .icon {
            position: relative;
            width: var(--icon-height);
            height: var(--icon-height);
            @extend %flex_center;
            border: calc(var(--icon-height) * .0375) solid #333;
            border-radius: 50%;
            font-size: calc(var(--icon-height) / 2);
            color: #7f7f7f;
            text-decoration: none;
            transition: .2s;

            &.email:hover,
            &.email:focus {
                transform: scale(1.33);
                color: var(--white-primary);
                border-color: var(--white-primary);
                @include iconBoxTextShadows(#fff);
            }
            &.in:hover,
            &.in:focus {
                transform: scale(1.33);
                color: var(--icon-in-blue);
                border-color: var(--icon-in-blue);
                @include iconBoxTextShadows(#0a66c2);
            }
        }
    }
    & .copyright {
        width: 100%;
        padding-top: 3rem;
        text-align: center;
        color: var(--grey-primary);
        letter-spacing: .1rem;
        font-size: 1.4rem;
    }

    /* Apply styles if screen width is 993px or more */
    @media only screen and (min-width: 993px) {
        & h3 {
            font-size: 4rem;
        }
    }
}