.contact {
    position: relative;
    width: 100%;
    min-height: 30vh;
    padding: 5rem;
    background-color: #121212;

    & h3 {
        text-align: center;
        font-size: 3.6rem;
        font-weight: 200;
        color: $grey-primary;
        letter-spacing: .2rem;
        word-spacing: .4rem;
        padding: 1rem;
        margin-bottom: 2rem;
        text-transform: capitalize;
    }
    & .icons {
        position: relative;
        width: 100%;
        @extend %flex_space-around;

        & .icon {
            position: relative;
            width: $icon-height;
            height: $icon-height;
            @extend %flex_center;
            border: ($icon-height * .0375) solid #060606;
            border-radius: 50%;
            font-size: $icon-height / 2;
            color: #7f7f7f;
            text-decoration: none;
            transition: .2s;

            &.email:hover {
                transform: scale(1.33);
                color: $icon-email-white;
                border-color: $icon-email-white;
                @include iconBoxTextShadows($icon-email-white);
            }
            &.in:hover {
                transform: scale(1.33);
                color: $icon-in-blue;
                border-color: $icon-in-blue;
                @include iconBoxTextShadows($icon-in-blue);
            }
        }
    }
    & .copyright {
        width: 100%;
        padding-top: 3rem;
        text-align: center;
        color: $grey-primary;
        letter-spacing: .1rem;
        font-size: 1.4rem;
    }

    /* Apply styles if screen width is 993px or more */
    @media only screen and (min-width: 993px) {
        & h3 {
            font-size: 4rem;
        }
    }
}