.menu-close {
    display: block;
    position: relative;
    width: var(--menu-close-width);
    height: calc(var(--menu-close-width) * .83333);
    background: none;
    border: none;
    border-radius: 50%;
    cursor: pointer;

    &::before {
        content: '';
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: calc(var(--menu-close-width) * 1.66666);
        height: calc(var(--menu-close-width) * 1.66666);
        border-radius: 50%;
    }
    &:hover::before,
    &:focus::before {
        background-color: rgba(0,0,0,.15);
    }
    & .bar {
        position: absolute;
        width: var(--menu-close-width);
        height: calc(var(--menu-close-width) * .066667);
        background-color: var(--black-primary);
        transition: .2s;

        &.a {
            top: 0;
            left: 0;
        }
        &.b {
            top: 50%;
            left: 0;
            transform: translateY(-50%);
        }
        &.c {
            bottom: 0;
            left: 0;
        }
    }
    &.close {
        & .bar {
            top: 50%;

            &.a {
                transform: translateY(calc(var(--menu-close-width) * -.036666)) rotate(45deg);
            }
            &.b {
                visibility: hidden;
                opacity: 0;
            }
            &.c {
                transform: translateY(calc(var(--menu-close-width) * -.036666)) rotate(-45deg);
            }
        }
    }
}