.portfolio {
    background-image: url(../../images/leather.png);
    color: #ccc;
    
    & h3 {
        font-size: 4rem;
        font-weight: 200;
        text-transform: uppercase;
        letter-spacing: .2rem;
        word-spacing: .4rem;
        text-align: center;
        padding: 2rem 0;
        border-bottom: .2rem solid #777;
    }
    & .carousel {
        position: relative;

        & .items {
            position: relative;
            overflow-x: hidden;

            & .item {
                & .img-container {
                    width: 100%;
                    max-width: 80rem;
                    margin: 0 auto;
                    aspect-ratio: 3 / 2;

                    & img {
                        display: block;
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                    }
                }
                & .caption {
                    width: 100%;
                    max-width: 80rem;
                    margin: 0 auto;
                    padding: 1rem;
                    word-spacing: .2rem;
                    font-size: 1.3rem;
                    background-color: hsla(0, 0%, 0%, 0.333);

                    & h4 {
                        letter-spacing: .2rem;
                        font-size: 1.4rem;
                        margin-bottom: .5rem;
                    }
                    & a {
                        color: hsl(339, 100%, 70%);
                        font-weight: 600;
                        letter-spacing: .2rem;
                        transition: .2s;

                        &:hover,
                        &:focus {
                            color: hsl(339, 100%, 60%);
                        }
                    }
                }
            }
        }
        & .numbers {
            position: absolute;
            top: 5rem;
            right: 2rem;
            padding: .5rem .5rem .5rem 1rem;
            border-radius: 40%;
            font-size: 1.3rem;
            letter-spacing: .4rem;
            background-color: hsla(0, 0%, 0%, 0.5);
        }
        & button {
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            @extend %flex_center;
            width: 4rem;
            height: 4rem;
            border: none;
            border-radius: 50%;
            font-size: 1.6rem;
            color: inherit;
            background-color: hsla(0, 0%, 0%, 0.5);
            cursor: pointer;
            transition: .2s;

            &:hover,
            &:focus {
                background-color: hsla(0, 0%, 0%, 0.9);
            }
            &.prev {
                left: 2rem;
            }
            &.next {
                right: 2rem;
            }
        }
    }
}