.to-top {
    position: fixed;
    bottom: calc(var(--to-top-height) * .6);
    right: calc(var(--to-top-height) * .6);
    @extend %flex_center;
    width: var(--to-top-height);
    height: var(--to-top-height);
    box-shadow: 0 .3rem .5rem -.1rem rgba(0,0,0,.2),
                0 .6rem 1rem 0 rgba(0,0,0,.14),
                0 .1rem 1.8rem 0 rgba(0,0,0,.12);
    background-color: rgba(245,0,87,.8);
    border-radius: 50%;
    color: #ccc;
    font-size: calc(var(--to-top-height) * .26);
    opacity: 0;
    transform: scale(0);
    visibility: hidden;
    pointer-events: none;
    cursor: pointer;
    border: none;
    z-index: 1;
    transition: .25s ease-out;

    &:hover {
        background-color: var(--pink-primary);
        color: var(--white-primary);
    }
    &:focus {
        outline-offset: .5rem;
        outline: -webkit-focus-ring-color auto 1px;
    }
    &.sticky {
        opacity: 1;
        transform: scale(1);
        visibility: visible;
        pointer-events: unset;
    }
}