.about {
    background-color: #f2f2ff;
    padding: 2rem 5rem;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.about .content {
    position: relative;
    width: 100%;
    max-width: 80rem;
    margin: 0 auto;
    text-align: center;
}
.about .content h3 {
    font-size: 3.6rem;
    font-weight: 200;
    text-transform: uppercase;
    letter-spacing: .2rem;
    word-spacing: .4rem;
    margin-bottom: 1rem;
}
.about .content p {
    position: relative;
    text-align: justify;
    font-size: 1.8rem;
    font-weight: 300;
    margin-bottom: 2rem;
    letter-spacing: .1rem;
}
.about .content h4 {
    letter-spacing: .1rem;
}

/* Apply styles if screen width is 993px or more */
@media only screen and (min-width: 993px) {
    .about {
        padding: 2rem 10rem;
    }
    .about .content h3 {
        font-size: 4rem;
    }
}