.menu-close {
    display: block;
    position: relative;
    width: 3rem;
    height: 2.5rem;
    cursor: pointer;
}
.menu-close .bar {
    position: absolute;
    width: 3rem;
    height: .2rem;
    background-color: #000;
    transition: .2s;
}
.menu-close .bar.a {
    top: 0;
    left: 0;
}
.menu-close .bar.b {
    top: 50%;
    left: 0;
    transform: translateY(-50%);
}
.menu-close .bar.c {
    bottom: 0;
    left: 0;
}
.menu-close.close {
    width: 2.1213rem;
    height: 2.1213rem;
}
.menu-close.close .bar {
    top: 50%;
}
.menu-close.close .bar.a {
    transform: translate(-.4rem, -50%) rotate(45deg);
}
.menu-close.close .bar.b {
    visibility: hidden;
    opacity: 0;
}
.menu-close.close .bar.c {
    transform: translate(-.4rem, -50%) rotate(-45deg);
}