.to-top {
    position: fixed;
    bottom: 3rem;
    right: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 5rem;
    height: 5rem;
    box-shadow: 0 .3rem .5rem -.1rem rgba(0,0,0,.2),
        0 .6rem 1rem 0 rgba(0,0,0,.14),
        0 .1rem 1.8rem 0 rgba(0,0,0,.12);
    background-color: rgba(245,0,86,.8);
    border-radius: 50%;
    color: #ccc;
    opacity: 0;
    transform: scale(0);
    visibility: hidden;
    pointer-events: none;
    cursor: pointer;
    z-index: 1;
    transition: .25s;
}
.to-top:hover {
    background-color: #f50057;
    color: #fff;
}
.to-top.sticky {
    opacity: 1;
    transform: scale(1);
    visibility: visible;
    pointer-events: unset;
}