*,
*::before,
*::after {
    margin: 0;
    padding: 0;
}

.hamburger-menu-btn {
    border: none;
    background: none;
    background-color: transparent;
    border-radius: 1em;
    border: .625em solid;
}