section.terms {
    padding: 10%;
    background-color: hsl(var(--hue-sat) 13%);

    h2 {
        text-align: center;
        font-size: 3rem;
        margin-bottom: 1em;
    }
    strong {
        display: inline-block;
        font-weight: 900;
        margin-bottom: 1.5em;
    }
    ol {
        font-weight: 500;
        text-align: justify;
        word-spacing: .1rem;
        line-height: 1.5;
        padding-left: 2em;

        &:not(:last-child) {
            margin-bottom: 4em;
        }
        li:not(:last-child) {
            margin-bottom: 1em;
        }
    }
}