/** Base **/
@import url(special/base.css);

/** Page CSS **/
section.hero {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 100vh;
    height: 100svh;
    background-color: hsl(var(--hue-sat) 0%);
    padding: 3.2rem;
    padding-top: 10rem;
    overflow: hidden;

    .cta {
        width: 100%;
        padding-top: 4.5rem;
        border-top: .2rem solid hsl(var(--hue-sat) 70%);

        h1 {
            font-size: 4rem;
            font-weight: 900;
            line-height: 1.5;
            text-align: center;
            
            a {
                transition: .2s opacity;

                &:hover,
                &:focus {
                    opacity: .7;
                }
            }
        }
    }
    .img-box {
        width: 100%;
        display: flex;
        justify-content: center;
        padding-top: 4.5rem;

        img {
            width: 30%;
            min-width: 28rem;
            height: auto;
        }
    }
    small.attribution {
        position: absolute;
        bottom: 1.6rem;
        right: 1.6rem;
        font-size: 1.2rem;
        opacity: .75;

        a {
            color: inherit;
            text-decoration: none;
        }
    }

    /* Responsive Styles */
    @media only screen and (width >= 360px) {
        padding-top: 8rem;
    }
    @media only screen and (width >= 800px), (height <= 399px) {
        flex-direction: unset;

        .cta {
            h1 {
                text-align: left;
            }
        }
        .img-box {
            align-self: flex-end;
            padding-top: 0;
            padding-bottom: 8rem;

            img {
                width: 60%;
                max-width: 47.04rem;
                max-height: 82.32rem;
                transform-origin: center left;
                rotate: 25deg;
                translate: 0 -2.5%;
            }
        }
    }
    @media only screen and (height <= 499px) {
        .img-box {
            padding-bottom: 3.6rem;
        }
    }
    @media only screen and (height <= 299px) {
        .img-box {
            padding-bottom: 0;
        }
    }
}