*,
*::before,
*::after {
    margin: 0;
    padding: 0;
}

.inputmediafile {
    --input-size : 1.6rem;
    // White: hsl(0, 0%, 100%)
    --hue-white : 0, 0%;
    --white-1   : hsl(var(--hue-white), 87%);
    --grey-1    : hsl(var(--hue-white), 50%);
    // Light Blue : hsl(207, 90%, 77%)
    --hue-blue  : 207;
    --blue-1    : hsla(var(--hue-blue), 90%, 53%, 20%);


    position: relative;
    display: flex;
    font-size: var(--input-size);
    box-sizing: border-box;

    *,
    *::before,
    *::after {
        box-sizing: inherit;
    }
    label {
        position: relative;
        overflow: hidden;

        input {
            position: absolute;
            width: 0;
            height: 0;
            opacity: 0;
            z-index: -1;
    
            &:disabled + div {
                color: var(--grey-1);
                cursor: default;
                pointer-events: none;
            }
        }
        div {
            display: flex;
            align-items: center;
            height: 2.5em;
            border: .125em solid currentColor;
            cursor: pointer;
            text-align: center;
            padding: 0 .625em;
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
            transition: .2s;
    
            &.focused,
            &:hover {
                background-color: var(--blue-1);
            }
            svg {
                width: 1em;
                fill: var(--white-1);
                margin-right: .5em;
            }
        }
    }
    button {
        color: var(--white-1);
        background-color: transparent;
        width: 2em;
        border: .1em solid currentColor;
        border-left: none;
        cursor: pointer;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: calc(var(--input-size) * 1.25);

        &:focus,
        &:hover {
            background-color: var(--blue-1);
            outline: none;
        }
        &:disabled {
            color: var(--grey-1);
            cursor: default;
            pointer-events: none;
        }
        svg {
            width: 1em;
            fill: var(--white-1);
        }
    }
}