*,
*::before,
*::after {
    margin: 0;
    padding: 0;
}

.hamburger-menu-btn {
    --background-color: [[background-color]];
    --border-color: [[border-color]];
    --line-top-color: [[line-top-color]];
    --line-middle-color: [[line-middle-color]];
    --line-bottom-color: [[line-bottom-color]];
    --background-color-expanded: [[background-color-expanded]];
    --border-color-expanded: [[border-color-expanded]];
    --line-top-color-expanded: [[line-top-color-expanded]];
    --line-bottom-color-expanded: [[line-bottom-color-expanded]];
    --size: [[size]];

    box-sizing: border-box;
    display: flex;
    width: 1em;
    height: 1em;
    font-size: var(--size);
    border: none;
    background: none;
    background-color: var(--background-color);
    border-radius: .1em;
    border: .05em solid var(--border-color);
    padding: 0 .1em;
    cursor: pointer;
    transition: 
        outline-offset .4s,
        opacity .4s,
        background-color .4s,
        border-color .4s
    ;

    &:hover {
        opacity: .75;
    }
    &:focus {
        outline: -webkit-focus-ring-color auto 1px;
        outline-offset: .1em;
    }
    *,
    *::before,
    *::after {
        box-sizing: inherit;
    }
    svg {
        width: 100%;
        height: 100%;
    
        .line {
            transform-origin: center;
            transition:
                rotate .2s ease-in,
                y .2s ease-in .2s,
                opacity .1s ease-in .2s,
                fill .4s
            ;

            &.top {
                fill: var(--line-top-color);
            }
            &.middle {
                fill: var(--line-middle-color);
            }
            &.bottom {
                fill: var(--line-bottom-color);
            }
        }
    }
    &[aria-expanded="true"] {
        background-color: var(--background-color-expanded);
        border-color: var(--border-color-expanded);
        
        svg {
            .line {
                transition:
                    y .2s ease-in,
                    rotate .2s ease-in .2s,
                    opacity .1s ease-in .2s,
                    fill .4s
                ;

                &:is(.top, .bottom) {
                    y: 45;
                }
                &.top {
                    rotate: 45deg;
                    fill: var(--line-top-color-expanded);
                }
                &.middle {
                    opacity: 0;
                }
                &.bottom {
                    rotate: -45deg;
                    fill: var(--line-bottom-color-expanded);
                }    
            }
        }
    }
}