div[data-select-container] {
    // White: hsl(0, 0%, 100%)
    --hue-white : 0, 0%;
    --grey-1    : hsla(var(--hue-white), 100%, .035);
    --grey-2    : hsl(var(--hue-white), 87%);
    --grey-3    : hsl(var(--hue-white), 10%);
    --grey-4    : hsl(var(--hue-white), 50%);
    // Light Blue : hsl(207, 90%, 77%)
    --hue-blue   : 207;
    --blue-1    : hsl(var(--hue-blue), 90%, 77%);
    --blue-2    : hsl(var(--hue-blue), 90%, 53%);
    

    position: relative;

    select {
        height: 4rem;
        display: block;
        width: 100%;
        background-color: var(--grey-1);
        border: none;
        border-bottom: .1rem solid var(--grey-2);
        color: var(--grey-2);
        font-size: 1.6rem;
        padding: 0 .5rem;
        cursor: pointer;

        &:focus {
            outline: none;

            & + span {
                color: var(--blue-1);
                opacity: 1;
            }
        }
        &:disabled,
        &:disabled + span {
            color: var(--grey-4);
            cursor: default;
        }
        optgroup, option {
            background-color: var(--grey-3);
        }
    }
    span {
        position: absolute;
        top: 0;
        left: .5rem;
        opacity: .7;
        line-height: 4rem;
        pointer-events: none;
        transform-origin: top left;
        transform: translateY(-2.4rem) scale(.75);
    }
    &::after {
        content: '';
        position: absolute;
        left: 0;
        right: 0;
        bottom: 0;
        transform: scaleX(0);
        transition: 300ms cubic-bezier(0.0, 0, 0.2, 1) 0ms;
        border-bottom: .2rem solid var(--blue-2);
        pointer-events: none;
    }
    &.focused::after {
        transform: scaleX(1);
    }
}