div[data-input-container] {
    // White: hsl(0, 0%, 100%)
    --hue-white : 0, 0%;
    --white     : hsl(var(--hue-white), 100%);
    --grey-1    : hsla(var(--hue-white), 100%, .035);
    --grey-2    : hsl(var(--hue-white), 87%);
    --grey-3    : hsl(var(--hue-white), 10%);
    --grey-4    : hsl(var(--hue-white), 50%);
    // Light Blue : hsl(207, 90%, 77%)
    --hue-blue   : 207;
    --blue-1    : hsl(var(--hue-blue), 90%, 77%);
    --blue-2    : hsl(var(--hue-blue), 90%, 53%);
    

    position: relative;
    height: 4rem;

    input {
        height: 100%;
        display: block;
        width: 100%;
        background-color: var(--grey-1);
        border: none;
        border-bottom: .1rem solid var(--grey-2);
        color: var(--grey-2);
        font-size: 1.6rem;
        padding: 0 .5rem;

        &:-webkit-autofill,
        &:-webkit-autofill:hover,
        &:-webkit-autofill:focus {
            box-shadow: 0 0 0 5rem var(--grey-3) inset;
            -webkit-text-fill-color: var(--grey-2);
        }
        &::placeholder {
            color: transparent;
            user-select: none;
        }
        &:hover {
            border-bottom-width: .2rem;
            border-bottom-color: var(--white);
        }
        &:focus {
            outline: none;

            & + span {
                color: var(--blue-1);
            }
        }
        &:focus + span,
        &:not(:placeholder-shown) + span {
            opacity: 1;
            transform: translateY(-2.4rem) scale(.75);
        }
        &:disabled,
        &:disabled + span {
            color: var(--grey-4);
            pointer-events: none;
        }
    }
    span {
        position: absolute;
        top: 0;
        left: .5rem;
        opacity: .7;
        line-height: 4rem;
        pointer-events: none;
        transform-origin: top left;
        transition: .2s;
    }
    &::after {
        content: '';
        position: absolute;
        left: 0;
        right: 0;
        bottom: 0;
        transform: scaleX(0);
        transition: 300ms cubic-bezier(0.0, 0, 0.2, 1) 0ms;
        border-bottom: .2rem solid var(--blue-2);
        pointer-events: none;
    }
    &.focused::after {
        transform: scaleX(1);
    }
}

label[data-input-container] {
    // White: hsl(0, 0%, 100%)
    --hue-white : 0, 0%;
    --grey-1    : hsl(var(--hue-white), 50%);
    // Light Blue : hsl(207, 90%, 77%)
    --hue-blue   : 207;
    --blue-1    : hsl(var(--hue-blue), 90%, 53%);
    

    position: relative;
    overflow: hidden;

    input {
        position: absolute;
        width: 0;
        height: 0;
        opacity: 0;
        z-index: -1;

        &:disabled + div {
            color: var(--grey-1);
            cursor: default;
            pointer-events: none;
        }
    }

    div {
        height: 4rem;
        border: .2rem solid currentColor;
        cursor: pointer;
        line-height: 3.6rem;
        text-align: center;
        padding: 0 1rem;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        transition: .2s;

        &.focused,
        &:hover {
            color: var(--blue-1);
        }
    }
}