*,
*::before,
*::after {
    margin: 0;
    padding: 0;
}

div.select-container {
    --select-size : 4rem;

    // White: hsl(0, 0%, 100%)
    --hue-white : 0, 0%;
    --grey-1    : hsla(var(--hue-white), 100%, .035);
    --grey-2    : hsl(var(--hue-white), 87%);
    --grey-3    : hsl(var(--hue-white), 10%);
    --grey-4    : hsl(var(--hue-white), 50%);
    --grey-5    : hsl(var(--hue-white), 43%);
    --grey-6    : hsla(var(--hue-white), 100%, .055);
    // Light Blue : hsl(207, 90%, 77%)
    --hue-blue   : 207;
    --blue-1    : hsl(var(--hue-blue), 90%, 77%);
    --blue-2    : hsl(var(--hue-blue), 90%, 53%);
    

    position: relative;
    height: 4rem;
    color-scheme: dark;
    // font-size: var(--select-size);
    display: inline-flex;
    box-sizing: border-box;

    *,
    *::before,
    *::after {
        box-sizing: inherit;
    }

    select {
        height: 100%;
        display: block;
        width: 100%;
        background-color: var(--grey-1);
        border: none;
        border-bottom: .1rem solid var(--grey-2);
        color: var(--grey-2);
        font-size: 1.6rem;
        padding: 0 .5rem;
        cursor: pointer;

        &:hover {
            border-bottom-color: var(--white);
            background-color: var(--grey-6);
        }
        &:focus {
            outline: none;

            & + span {
                color: var(--blue-1);
                opacity: 1;
            }
        }
        &:disabled,
        &:disabled + span {
            color: var(--grey-4);
            cursor: default;
            pointer-events: none;
        }
        &[multiple] {
            height: auto;
            min-height: 10rem;
            background-color: var(--grey-3);
            outline: .2rem solid transparent;
            border: .1rem solid var(--grey-4);
            transition: outline 300ms cubic-bezier(0.0, 0, 0.2, 1) 0ms;

            &:hover {
                outline-color: var(--white);
            }
            &:focus {
                outline-color: var(--blue-2);
            }
            optgroup, option {
                background-color: unset;
            }
            option:hover,
            option:checked {
                color: inherit;
                background-color: var(--blue-2);

                &:disabled {
                    color: var(--grey-5);
                    background-color: unset;
                }
            }
        }
        optgroup, option {
            background-color: var(--grey-3);
        }
    }
    span {
        position: absolute;
        top: 0;
        left: 1rem;
        opacity: .7;
        line-height: 4rem;
        pointer-events: none;
        transform-origin: top left;
        transform: translateY(-2.4rem) scale(.75);
    }
    &::after {
        content: '';
        position: absolute;
        left: 0;
        right: 0;
        bottom: 0;
        transform: scaleX(0);
        transition: 300ms cubic-bezier(0.0, 0, 0.2, 1) 0ms;
        border-bottom: .2rem solid var(--blue-2);
        pointer-events: none;
    }
    &.focused::after {
        transform: scaleX(1);
    }
}