.banner {
    position: relative;
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.banner .banner-img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url(../images/background.jpg);
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    filter: brightness(150%);
}
.banner h2 {
    position: absolute;
    color: #FFF;
    font-size: 50px;
    text-align: center;
    letter-spacing: 2px;
    word-spacing: 4px;
    line-height: 1.5em;
    padding: 0px 50px;
}
.banner h2 span {
    color: #39BE89;
}

/* Apply styles if screen width is 993px or more */
@media only screen and (min-width: 993px) {
    .banner .banner-img {
        background-position: unset;
        filter: unset;
    }
    .banner h2 {
        font-size: 70px;
        padding: 0px 20px;
    }
}