* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html, body {
    min-height: 1000px;
    scroll-behavior: smooth;
    font-family: 'Poppins', sans-serif, Arial, Helvetica;
}

.display-none {
    display: none;
}