*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    scroll-behavior: smooth;
}
body {
    font-family: 'Poppins', sans-serif, Arial, Helvetica;
    box-sizing: border-box;
    overflow-x: hidden;
}

.display-none {
    display: none;
}