header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #fff;
    padding: 5px 50px;
    box-shadow: 4px 0px 4px rgba(0, 0, 0, 0.2);
    z-index: 1;
    transition: 0.4s ease-in;
}
header .logo {
    position: relative;
    width: 50px;
    height: 50px;
    background-image: url(../images/logo/apple-touch-icon.png);
    background-size: cover;
    background-position: center;
    filter: grayscale(100%);
    transition: 0.4s ease-in;
}
header ul {
    visibility: hidden;
    opacity: 0;
    position: absolute;
    top: 58px;
    left: 0;
    width: 100%;
    height: 100vh;
    text-align: center;
    overflow: auto;
    background-color: #111;
    border-top: 2px solid transparent;
    transition: 0.2s;
}
header ul li {
    position: relative;
    list-style: none;
}
header ul li a {
    position: relative;
    text-decoration: none;
    color: #ccc;
    letter-spacing: 2px;
    transition: 0.4s;
}
header.active ul {
    visibility: visible;
    opacity: 1;
    padding-top: 20px;
    border-top: 2px solid #aaa;
}
header.active ul li a {
    display: inline-block;
    width: 100%;
    padding: 10px 0px;
    font-size: 20px;
}
header.active ul li a:hover {
    color: #fff;
    letter-spacing: 4px;
    background-color: #222;
}

/* Apply styles if screen width is 993px or more */
@media only screen and (min-width: 993px) {
    header {
        background-color: rgba(255, 255, 255, 0.1);
        backdrop-filter: blur(10px);
        padding: 20px 100px;
        box-shadow: unset;
    }
    header.sticky {
        padding: 5px 100px;
        background-color: #fff;
        box-shadow: 4px 0px 4px rgba(0, 0, 0, 0.2);
    }
    header .logo {
        filter: unset;
    }
    header.sticky .logo {
        filter: grayscale(100%);
    }
    header ul {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        visibility: unset;
        opacity: unset;
        top: unset;
        left: unset;
        width: unset;
        height: unset;
        text-align: unset;
        overflow: unset;
        background-color: unset;
    }
    header ul li a {
        margin: 0px 15px;
        color: #fff;
        font-weight: 300;
        padding-bottom: 10px;
        border-bottom: 1px solid transparent;
        transition: color 0.6s, border-color 0.2s;
    }
    header ul li a:hover {
        border-color: #fff;
    }
    header ul li:first-child a {
        margin: 0;
        margin-right: 15px;
    }
    header ul li:last-child a {
        margin: 0;
        margin-left: 15px;
    }
    header.sticky ul li a {
        color: #000;
        font-weight: bold;
    }
    header.sticky ul li a {
        padding-bottom: 5px;
        border-bottom: 2px solid transparent;
    }
    header.sticky ul li a:hover {
        border-color: #000;
    }
    header .menu-close {
        display: none;
    }
}