::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}
::-webkit-scrollbar-track {
    background: #e0e0e0;
}
::-webkit-scrollbar-thumb {
    background: #888888;  
    border-radius: 10px;
}
::-webkit-scrollbar-thumb:hover {
    background: #555555;
}

/* Apply styles if screen width is 992px or less */
@media only screen and (max-width: 992px) {
    ::-webkit-scrollbar {
        width: 8px;
        height: 8px;
    }
    ::-webkit-scrollbar-thumb {
        border-radius: 8px;
    }
}