nav.navbar .navbar-collapse ul li.theme-switcher {
    --border-color: hsla(var(--hue-sat) 100% / .25);
    --bg-color: hsla(var(--hue-sat) 13% / .75);

    position: relative;

    form {
        position: absolute;
        width: 100%;
        padding: 1.5em 2em;
        border-bottom: .1em solid var(--border-color);
        background-color: var(--bg-color);
        z-index: 1;

        fieldset {
            border: none;
            display: flex;
            justify-content: space-between;
            gap: 1.5em;
            flex-wrap: wrap;
            font-size: .8em;

            .container {
                display: flex;
                transition: opacity .2s;

                * {
                    cursor: pointer;
                }
                input {
                    appearance: none;
                    width: 1em;
                    height: 1em;
                    border-radius: 50%;
                    outline: .2em solid var(--radio-color);
                    outline-offset: .2em;
                    transition: background-color .2s;

                    &#pink {
                        --radio-color: var(--pink-theme);
                    }
                    &#blue {
                        --radio-color: var(--blue-theme);
                    }
                    &#sea {
                        --radio-color: var(--sea-theme);
                    }
                    &#gold {
                        --radio-color: var(--gold-theme);
                    }
                    &:checked {
                        background-color: var(--radio-color);
                    }
                }
                &:hover {
                    opacity: .75;
                }
                label {
                    padding-left: 1em;
                }
            }
        }
    }

    @media only screen and (min-width: 500px) {
        a {
            i {
                width: 1em;
            }
        }
        form {
            top: calc(100% + .1em);
            right: 0;
            width: max-content;
            padding: .75em;
            border: .1em solid var(--border-color);
            border-top: none;
            border-bottom-left-radius: .333em;
            border-bottom-right-radius: .333em;
    
            fieldset {
                display: block;
                justify-content: unset;
                gap: unset;
                flex-wrap: unset;
    
                .container {    
                    &:not(:last-of-type) {
                        margin-bottom: 1.5em;
                    }
                }
            }
        }
    }
}