nav.navbar {
    --border-bottom-color: hsl(var(--hue-sat) 100% / .25);

    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 2em;
    background-color: var(--title-bg-color);
    border-bottom: .1em solid var(--border-bottom-color);
    z-index: 2;
    
    .logo {
        font-size: 2em;
        font-family: 'Ubuntu', sans-serif;
    }
    button {
        background: none;
        font-size: 1.25em;
        padding: .125em .375em;
        margin: .4em 0;
        border: .1em solid var(--nav-link-color);
        border-radius: .25em;
        cursor: pointer;
        transition: border-color .2s;

        &:hover,
        &:focus {
            border-color: var(--nav-link_hover_focus-color);
        }
        span {
            display: inline-block;
            width: 1.5em;
            height: 1.5em;
            vertical-align: middle;
            background-image: url(../images/icons/hamburger.svg);
        }
    }
    .navbar-collapse {
        position: absolute;
        top: calc(100% + .1em);
        left: 0;
        width: 100%;
        z-index: 1;
        transform-origin: top;
        scale: 1 0;
        border-bottom: .1em solid transparent;
        background-color: var(--title-bg-color);

        &.transition {
            transition: scale .25s;
        }
        &.show {
            scale: 1 1;
            border-bottom-color: var(--border-bottom-color);
        }
        ul {
            list-style: none;

            li {
                padding: 1.5em 0;
                padding-left: 2em;

                a {
                    text-decoration: none;
                    color: var(--nav-link-color);
                    font-weight: 500;
                    transition: color .2s;

                    &:hover,
                    &:focus {
                        color: var(--nav-link_hover_focus-color);
                    }
                }
            }
        }
    }

    @media only screen and (min-width: 500px) {
        button {
            display: none;
        }
        .navbar-collapse {
            position: unset;
            top: unset;
            width: unset;
            z-index: unset;
            transform-origin: unset;
            scale: none;
            border: none;

            ul {
                display: flex;
    
                li {
                    padding: 1.5em 0;
                    padding-right: 2em;

                    &:last-child {
                        padding-right: 0;
                    }
                }
            }
        }
    }
}