section.press {
    padding: 15% 7.5%;
    padding-top: 0;
    background-color: var(--features-i-color);
    text-align: center;

    img {
        width: 15%;
        min-width: 10.9375em;
        height: auto;
        margin: 1.25em 1.25em 3.125em;
    }
}