section.title {
    display: inline-flex;
    flex-direction: column;
    width: 100%;
    background-color: var(--title-bg-color);
    padding: 2em;
    padding-top: 5em;
    overflow: hidden;

    .cta,
    .img-box {
        width: 100%;
    }
    .cta {
        padding-top: 4em;

        h1 {
            font-size: 3em;
            font-weight: 900;
            line-height: 1.5;
            text-align: center;
        }
        .button-group {
            display: flex;
            justify-content: center;
            flex-wrap: wrap;
            gap: .8em;

            button {
                background: none;
                border-radius: .25em;
                cursor: pointer;
                transition: background-color .2s, border-color .2s, color .2s;
                color: inherit;
                font-weight: 600;
                font-size: 1em;
                padding: .5em 1em;
                margin-top: 1em;

                &.app-store {
                    background-color: var(--app-store-bg-color);
                    border: .1em solid var(--app-store-bg-color);

                    &:hover,
                    &:focus {
                        background-color: var(--site-bg-color);
                        border-color: var(--site-bg-color);
                    }
                }
                &.play-store {
                    border: .1em solid var(--site-color);

                    &:hover,
                    &:focus {
                        color: var(--site-bg-color);
                        background-color: var(--site-color);
                    }
                }
            }
        }
    }
    .img-box {
        display: flex;
        justify-content: center;
        padding-top: 2em;

        img {
            width: 30%;
            min-width: 17.5em;
            height: auto;
        }
    }

    @media only screen and (min-width: 800px) {
        position: relative;
        margin-bottom: -16%;
        flex-direction: unset;

        .cta {
            h1 {
                text-align: left;
            }
            .button-group {
                justify-content: unset;
                flex-wrap: unset;
            }
        }
        .img-box {
            padding-top: 0;

            img {
                width: 60%;
                max-width: 29.4em;
                transform-origin: center left;
                rotate: 25deg;
                translate: 0 -2.5%;
            }
        }
    }
}