::-webkit-scrollbar {
    width: .8rem;
    height: .8rem;

    &-track {
        background: #e0e0e0;
    }
    &-thumb {
        background: #888888;  
        border-radius: .8rem;

        &:hover {
            background: #555555;
        }
    }

    /* Apply styles if screen width is 993px or more */
    @media only screen and (min-width: 993px) {
        & {
            width: 1rem;
            height: 1rem;
        }
        &-thumb {
            border-radius: 1rem;
        }
    }
}